.dashboard-settings-child {
  position: absolute;
  top: 0;
  left: 406px;
  background-color: var(--color-beige-100);
  width: 1047px;
  height: 1024px;
}
.dashboard-settings-item {
  position: absolute;
  top: 820px;
  left: 8px;
  border-radius: var(--br-31xl);
  background-color: var(--color-beige-400);
  width: 363px;
  height: 112px;
}
.settings5 {
  position: absolute;
  top: 58px;
  left: 471px;
  display: inline-block;
  width: 627px;
  height: 111px;
}
.icon,
.icon1,
.icon2 {
  position: absolute;
  top: 81px;
  left: 850px;
  width: 80px;
  height: 65px;
}
.icon1,
.icon2 {
  top: 79px;
}
.icon2 {
  top: 82px;
  left: 849px;
}
.dashboard-settings-inner {
  position: absolute;
  top: 195.5px;
  left: 403.5px;
  border-top: 1px solid var(--color-darkolivegreen-100);
  box-sizing: border-box;
  width: 1026px;
  height: 1px;
}
.settings-logo-icon3 {
  position: absolute;
  top: 14px;
  left: 34px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.settings6 {
  position: absolute;
  top: 24px;
  left: 112px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 30px;
}
.crop-tab3,
.rectangle-div,
.settings-tab3 {
  position: absolute;
  left: 0;
  width: 399px;
  height: 81px;
}
.rectangle-div {
  top: 0;
  background-color: var(--color-gainsboro-200);
}
.crop-tab3,
.settings-tab3 {
  top: 831px;
}
.crop-tab3 {
  top: 716px;
}
.fertilizers-logo-icon3 {
  position: absolute;
  height: 61.73%;
  width: 12.53%;
  top: 18.52%;
  right: 78.95%;
  bottom: 19.75%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fertilizers3 {
  position: absolute;
  top: 25px;
  left: 111px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 30px;
}
.fertilizers-tab3 {
  position: absolute;
  height: 7.91%;
  width: 100%;
  top: 58.59%;
  right: 0;
  bottom: 33.5%;
  left: 0;
}
.weather-logo-icon3 {
  position: absolute;
  height: 61.73%;
  width: 12.53%;
  top: 16.05%;
  right: 78.95%;
  bottom: 22.22%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.weather-forecast3 {
  position: absolute;
  top: 23px;
  left: 112px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 30px;
}
.weather-tab3 {
  position: absolute;
  height: 7.91%;
  width: 100%;
  top: 47.56%;
  right: 0;
  bottom: 44.53%;
  left: 0;
}
.notifications-logo-icon3 {
  position: absolute;
  height: 61.73%;
  width: 12.53%;
  top: 30.86%;
  right: 80.2%;
  bottom: 7.41%;
  left: 7.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notifications3 {
  position: absolute;
  top: 35px;
  left: 107px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 30px;
}
.home-logo-icon3,
.notifications-tab3 {
  position: absolute;
  height: 7.91%;
  width: 100%;
  top: 35.16%;
  right: -1.25%;
  bottom: 56.93%;
  left: 1.25%;
}
.home-logo-icon3 {
  height: 100%;
  width: 13.7%;
  top: 0;
  right: 86.3%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home3 {
  position: absolute;
  top: 10px;
  left: 105px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 30px;
}
.group-div,
.home-text3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home-text3 {
  height: 61.73%;
  width: 91.48%;
  top: 18.52%;
  bottom: 19.75%;
  left: 8.52%;
}
.current-tab-indicator3 {
  position: absolute;
  top: -2px;
  left: 1px;
  border-radius: 0 var(--br-base) var(--br-base) 0;
  background-color: var(--color-white);
  width: 8px;
  height: 81px;
  display: none;
}
.home-tab-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 399px;
  height: 81px;
  opacity: 0;
}
.home-tab3 {
  position: absolute;
  height: 7.91%;
  width: 100%;
  top: 25.49%;
  right: 0;
  bottom: 66.6%;
  left: 0;
}
.line-details-icon3 {
  position: absolute;
  top: 173px;
  left: 0;
  width: 388px;
  height: 50px;
  display: none;
}
.main-logo-icon3 {
  position: absolute;
  top: 6px;
  left: 11px;
  width: 539px;
  height: 197px;
  object-fit: cover;
}
.goagrosmart3 {
  position: absolute;
  top: 74px;
  left: 133px;
  font-weight: 600;
  display: inline-block;
  width: 349px;
  height: 68px;
}
.main-text3 {
  position: absolute;
  top: -6px;
  left: -11px;
  width: 539px;
  height: 197px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.sidebar-expanded-sidebar3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkolivegreen-100);
  width: 399px;
  height: 1024px;
  overflow: hidden;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.dashboard-settings-child1,
.dashboard-settings-child2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-beige-400);
  position: absolute;
  top: 818px;
  left: 18px;
  border-radius: var(--br-31xl);
  width: 363px;
  height: 112px;
}
.dashboard-settings-child2 {
  background-color: var(--color-darkolivegreen-100);
  top: 536px;
  left: 719px;
  width: 470px;
  height: 145px;
}
.crop-stage-button2,
.fertilizers-button2,
.home-button2,
.notif-button2,
.settings-button2,
.weather-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-beige-300);
  position: absolute;
  top: 372px;
  left: 15px;
  border-radius: var(--br-31xl);
  width: 363px;
  height: 112px;
}
.crop-stage-button2,
.fertilizers-button2,
.home-button2,
.settings-button2,
.weather-button2 {
  top: 460px;
}
.crop-stage-button2,
.fertilizers-button2,
.home-button2,
.settings-button2 {
  top: 587px;
}
.crop-stage-button2,
.home-button2,
.settings-button2 {
  top: 698px;
}
.home-button2,
.settings-button2 {
  top: 815px;
}
.home-button2 {
  top: 248px;
}
.dashboard-settings-child3 {
  position: absolute;
  top: 194px;
  left: 0;
  width: 396px;
  height: 2.04px;
}
.your-crops-are {
  margin: 0;
}
.latest-updates,
.logout {
  position: absolute;
  top: 294px;
  left: 482px;
  font-size: 45px;
  font-weight: 600;
  display: inline-block;
  width: 835px;
  height: 115px;
}
.logout {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 577px;
  left: 877px;
  font-size: 50px;
  font-weight: 700;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  width: 267px;
  height: 78px;
}
.log-out-1-icon,
.log-out-2-icon,
.log-out-3-icon {
  position: absolute;
  top: 572px;
  left: 782px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.log-out-2-icon,
.log-out-3-icon {
  top: 571px;
  left: 783px;
}
.log-out-3-icon {
  top: 574px;
  left: 784px;
}
.dashboard-settings {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--color-darkolivegreen-100);
  font-family: var(--font-montserrat);
}
